<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Spotify Autocomplete</title>
        <meta name="description" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body onload="onPageLoad()">
        <!-- ------------------------------------------------------------------------------------------------ -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">
            <img src="../static/img/Daco_1145248.png" width="100" height="42" class="d-inline-block align-top" alt="">
            WVFRM
          </a>
        
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/contact">Contact</a>
              </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
          </div>
        </nav>
        <!-- ------------------------------------------------------------------------------------------------ -->
        <br>
        <header>
          <!-- <h1>Spotify Autocomplete</h1> -->
        </header>

        <div class="wrapper">
          <div class="search-input">
            <a href="" target="_blank" hidden></a>
            <input type="text" placeholder="Type to search..">
            <div class="autocom-box">
              <!-- here list are inserted from javascript -->
            </div>
            <div class="icon"><i class="fas fa-search"></i></div>
          </div>
        </div>

        <!-- ------------------------------------------------------------------------------------------------ -->
<!-- 
        <div>
          <form action="/audio" method="POST">
          <input name="inputTrack" id="inputTrack" autoComplete="off" list="suggestions" placeholder="Enter Track Name" size="50"/> 
          <datalist id="suggestions">
              <option></option>
              <option></option>
              <option></option>
              <option></option>
              <option></option>
              <option></option>
          </datalist>
          <br><br><br>
          <input type="hidden" name="hoo" value="" id="hoo" />
          <input class="btn" type="submit" value="Submit">
          </form>
      </div> -->

      <br><br><br>

        <!-- ------------------------------------------------------------------------------------------------ -->
        <section id="new_release">
            <div class="heading">
                <h1 >New Releases</h1>
            </div>
            
        <div class="card-deck">
            <div class="row">
              
               <!-- card 0 -->
            <div class="col-12 col-md-6 col-lg-2" id="card0">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div>
                <!-- card 1 -->
            <div class="col-12 col-md-6 col-lg-2" id="card1">
            <div class="card">
              <a href="">
              <img class="card-img-top" src="..." alt="Card image cap">
            </a>
              <div class="card-body">
                <h5 class="card-title">TrackName</h5>
                <p class="card-text">ArtistName</p>
              </div>
              <div class="card-footer">
                <small class="text-muted"></small>
              </div>
              </div>
            </div>
                <!-- card 2 -->
                <div class="col-12 col-md-6 col-lg-2" id="card2">
                  <div class="card">
                    <a href="">
                    <img class="card-img-top" src="..." alt="Card image cap">
                  </a>
                    <div class="card-body">
                      <h5 class="card-title">TrackName</h5>
                      <p class="card-text">ArtistName</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted"></small>
                    </div>
                    </div>
                  </div>
            <!-- card 3 -->
            <div class="col-12 col-md-6 col-lg-2" id="card3">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div>     
            <!-- card 4 -->
            <div class="col-12 col-md-6 col-lg-2" id="card4">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div>    
            <!-- card 5 -->
            <div class="col-12 col-md-6 col-lg-2" id="card5">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div>   
              <!-- card 6 -->
            <div class="col-12 col-md-6 col-lg-2" id="card6">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div> 
              <!-- card 7 -->
            <div class="col-12 col-md-6 col-lg-2" id="card7">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div> 
              <!-- card 8 -->
            <div class="col-12 col-md-6 col-lg-2" id="card8">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div> 
              <!-- card 9 -->
            <div class="col-12 col-md-6 col-lg-2" id="card9">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div> 
              <!-- card 10 -->
            <div class="col-12 col-md-6 col-lg-2" id="card10">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div> 
              <!-- card 11 -->
            <div class="col-12 col-md-6 col-lg-2" id="card11">
              <div class="card">
                <a href="">
                <img class="card-img-top" src="..." alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">TrackName</h5>
                  <p class="card-text">ArtistName</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted"></small>
                </div>
                </div>
              </div> 
          
              </div>
          </div>
        </section>

        

        <script src="../static/js/app.js"></script>
        <script src="../static/js/new.js"></script>
        <script src="../static/js/search.js"></script>
        
    </body>
</html>
        