{% extends "layout.html" %}

{% block head %}
    <title>TryOut</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
{% endblock %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
        <img src="../static/img/Daco_1145248.png" width="100" height="42" class="d-inline-block align-top" alt="">
        WVFRM
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:5000/tryout">TryOut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/contact">Contact</a>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
        </div>
    </nav>


    <h1>TryOut</h1>

    <br><br>

    <div class="form-group mt-4 text-center">
        <label id="1"><h4>Acousticness</h4></label>
        <br>
        <input type="text" value="50" id="textTRY1">
        <input type="range" min="0" max="100" step="0.2" value="50" style="width: 50%" id="rangeTRY1">
    </div>

    <div class="form-group mt-4 text-center">
        <label id="2"><h4>Acousticness</h4></label>
        <br>
        <input type="text" value="50" id="textTRY2">
        <input type="range" min="0" max="100" step="0.2" value="50" style="width: 50%" id="rangeTRY2">
    </div>

    <div class="form-group mt-4 text-center">
        <label id="3"><h4>Acousticness</h4></label>
        <br>
        <input type="text" value="50" id="textTRY3">
        <input type="range" min="0" max="100" step="0.2" value="50" style="width: 50%" id="rangeTRY3">
    </div>

    <div class="form-group mt-4 text-center">
        <label id="4"><h4>Acousticness</h4></label>
        <br>
        <input type="text" value="50" id="textTRY4">
        <input type="range" min="0" max="100" step="0.2" value="50" style="width: 50%" id="rangeTRY4">
    </div>

    <div class="form-group mt-4 text-center">
        <label id="5"><h4>Acousticness</h4></label>
        <br>
        <input type="text" value="50" id="textTRY5">
        <input type="range" min="0" max="100" step="0.2" value="50" style="width: 50%" id="rangeTRY5">
    </div>

    <div class="form-group mt-4 text-center">
        <label id="6"><h4>Acousticness</h4></label>
        <br>
        <input type="text" value="50" id="textTRY6">
        <input type="range" min="0" max="100" step="0.2" value="50" style="width: 50%" id="rangeTRY6">
    </div>

    <div class="form-group mt-4 text-center">
        <label id="7"><h4>Acousticness</h4></label>
        <br>
        <input type="text" value="50" id="textTRY7">
        <input type="range" min="0" max="100" step="0.2" value="50" style="width: 50%" id="rangeTRY7">
    </div>

    <div class="form-check form-check-inline">
      <label id="6"><h4>Key</h4></label>
      <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox0" value="option0">
            <label class="form-check-label" for="inlineCheckbox1">0</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
            <label class="form-check-label" for="inlineCheckbox1">1</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox1">2</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox1">3</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
            <label class="form-check-label" for="inlineCheckbox1">4</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
            <label class="form-check-label" for="inlineCheckbox1">5</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
            <label class="form-check-label" for="inlineCheckbox1">6</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox7" value="option7">
            <label class="form-check-label" for="inlineCheckbox1">7</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox8" value="option8">
            <label class="form-check-label" for="inlineCheckbox1">8</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox9" value="option9">
            <label class="form-check-label" for="inlineCheckbox1">9</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox10" value="option10">
            <label class="form-check-label" for="inlineCheckbox1">10</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox11" value="option11">
            <label class="form-check-label" for="inlineCheckbox1">11</label>
          </div>
          
    </div>

    <br><br>
    <div id="modes">
      <label id="label_mode"><h4>Mode</h4></label>
      <br>
      <input type="radio" id="m1" name="mode" value="0">Minor</input>
      <input type="radio" id="m2" name="mode" value="1">Major</input>
    </div>
    <br><br>

    <div id="explicitt">
      <label id="label_exp"><h4>Explicit</h4></label>
      <br>
      <input type="radio" id="m1" name="exp" value="0">False</input>
      <input type="radio" id="m2" name="exp" value="1">True</input>
    </div>
    <br><br>

    <div id="last3">
      <label id="last1"><h4>Duration</h4></label>
      <br>
      <input type="text" id="l1" value=""></input>
      <br>

      <label id="last2"><h4>Loudness</h4></label>
      <br>
      <input type="text" id="l2" value=""></input>
      <br>

      <label id="last3"><h4>Tempo</h4></label>
      <br>
      <input type="text" id="l3" value=""></input>
      <br>
    </div>

    <div class="form-group mt-4 text-center">
        <button type="button" class="btn btn-primary btn-lg center" id="b1_SUBMIT">SUBMIT</button>
        <button type="button" class="btn btn-secondary btn-lg" id="b2_RESET">RESET</button>
        <button type="button" class="btn btn-secondary btn-lg" id="b3_RANDOM">RANDOM</button>
    </div>

    <br><br>

    <script src="../static/js/tryout.js"></script>
{% endblock %}